.css-2ehmn7-MuiInputBase-root-MuiOutlinedInput-root {
  height: 34.5px !important;
}
.css-152mnda-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px !important;
}
.css-1gnht4k {
  padding: 10px 0px;
}
.css-x0qxq3{
    height: 43.2px;
}